@import '/node_modules/modern-normalize/modern-normalize.css';

body {
  color: $primaryColor;
  background-color: $backgroundColor;
  font-family: $mainFontFamily;
  font-weight: $fontWeight;
}

section:not(:first-of-type) {
  padding-top: 80px;
  @include mq(tablet) {
    padding-top: 100px;
  }
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  @include mq(mobile) {
    width: 375px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @include mq(tablet) {
    width: 835px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mq(desktop) {
    width: 1440px;
  }
}

.tours__container {
  padding-inline: 0;
}

.title {
  text-align: center;
  @include font(40, 1.4, 0.4);
  font-weight: $fontWeight;
  margin-bottom: 32px;
  @include mq(tablet) {
    @include font(64, 1.4, 0.64);
    margin-bottom: 64px;
  }
}

p {
  font-family: $secondaryFontFamily;
  @include font(16, 1.4, 0.16);
}

.pagination {
  @include flex(flex, space-between, center);
}

$timingAnima: $mainTransitionDuration $mainTransitionTimingFunction;
button {
  padding: 0;
  background-color: $btnColor;
  color: $primaryColor;
  border: none;
  outline: none;
  cursor: pointer;
  @include flex(flex, center, center);
  @include font(16, 1.5, 0.206);
  transition: color $timingAnima, background-color $timingAnima, border-color $timingAnima;
}
