@import '/node_modules/modern-normalize/modern-normalize.css';

body {
  color: $primaryColor;
  background-color: $backgroundColor;
  font-family: $mainFontFamily;
  font-weight: $fontWeight;
}

section:not(:first-of-type) {
  padding-top: 80px;
  &:last-of-type {
    padding-top: 54px;
  }
}

.title {
  text-align: center;
  @include font(40, 1.4, 0.4);
  font-weight: $fontWeight;
  margin-bottom: 32px;
}

p {
  font-family: $secondaryFontFamily;
  @include font(16, 1.4, 0.16);
}

.copyright {
  font-family: $mainFontFamily;
  @include font(12, 1.4, 0.12);
  text-align: center;
}

.pagination {
  @include flex(flex, space-between, center);
}
