@font-face {
  font-family: 'Jomolhari';
  src: url('../fonts/Jomolhari-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
