$primaryColor: #fff;
$btnColor: #394014;
$placeholderColor: #b9b9b9;
$backgroundColor: #141a19;
$mainTransitionDuration: 250ms;
$mainTransitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$mainFontFamily: 'Jomolhari', sans-serif;
$secondaryFontFamily: 'Lato', sans-serif;
$fontWeight: 400;
