$timingAnima: $mainTransitionDuration $mainTransitionTimingFunction;
button {
  padding: 0;
  background-color: $btnColor;
  color: $primaryColor;
  border: none;
  outline: none;
  @include flex(flex, center, center);
  @include font(16, 1.5, 0.206);
  transition: color $timingAnima, background-color $timingAnima, border-color $timingAnima;
}

.header__button {
  background-color: transparent;
}

.form__button {
  width: 100%;
  padding: 14px 0px;
}
