.title {
  text-align: center;
  @include font(40, 1.4, 0.4);
  font-weight: $fontWeight;
  margin-bottom: 32px;
}
.about__title {
  @include font(40, 1.15, 0.4);
}

.tours__subtitle {
  @include font(24, 1.4, 0.24);
  font-weight: $fontWeight;
  margin: 16px 0px;
}

.start__title {
  text-align: left;
  @include font(32, 1.4, 0.32);
}
