.swiper__navigation {
  margin-top: 32px;
  @include flex(flex, space-between, center);
  &--padding {
    padding: 0 16px;
  }
}

.swiper-slide__image {
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: transparent;
}

.swiper-button-prev {
  rotate: 180deg;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
