.header {
  position: absolute;
  width: 100%;

  &__navigation {
    padding-top: 16px;
    @include flex(flex, space-between, center);
  }

  &__button {
    background-color: transparent;
  }

  &__button--hidden,
  .mobile-menu {
    @include mq(tablet) {
      @include visually-hidden();
    }
  }

  &__navigation__list {
    @include mq(mobile-only) {
      @include visually-hidden();
    }
    @include flex(flex, end, center);
    gap: 32px;
    @include mq(desktop) {
      gap: 64px;
    }
    @include font(18, 1.4, 0.18);
    font-family: $secondaryFontFamily;
    font-weight: $secondFontWeight;
  }
}

.hero {
  &__container {
    @include flex(flex, null, center);
    flex-direction: column;
    @include mq(mobile-only) {
      background: url(/src/images/hero_bg.jpg) no-repeat center;
      background-size: cover;
      @include mq(retina) {
        background: url(/src/images/hero_bg_retina.jpg) no-repeat center;
        background-size: cover;
      }
      padding-top: 261px;
      padding-bottom: 32px;
    }
    @include mq(tablet) {
      background: url(/src/images/hero_bg_tablet_1x.jpg) no-repeat center;
      background-size: cover;
      @include mq(retina) {
        background: url(/src/images/hero_bg_tablet_2x.jpg) no-repeat center;
        background-size: cover;
      }
      padding-top: 318px;
      padding-bottom: 64px;
    }
    @include mq(desktop) {
      background: url(/src/images/hero_bg_des_1x.jpg) no-repeat center;
      background-size: cover;
      @include mq(retina) {
        background: url(/src/images/hero_bg_des_2x.jpg) no-repeat center;
        background-size: cover;
      }
      padding-top: 206px;
      padding-bottom: 100px;
    }
  }

  &__title {
    @include flex(flex, null, center);
    flex-direction: column;
    @include mq(mobile-only) {
      @include font(64, 1.4, 0.64);
      margin-bottom: 64px;
    }
    @include mq(tablet) {
      @include font(128, 1.4, 1.28);
      margin-bottom: 54px;
    }

    & > span {
      @include mq(mobile-only) {
        @include font(24, 1.4, 0.24);
      }
      @include mq(tablet) {
        @include font(48, 1.4, 0.48);
      }
    }

    &::after {
      content: 'Ukraine';
      background: linear-gradient(15deg, #fff -54.67%, rgba(255, 255, 255, 0) 58.38%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: rotateX(180deg) translateY(-136px);
      position: absolute;
      @include mq(tablet) {
        transform: rotateX(180deg) translateY(-255px);
      }
    }
  }

  &__link {
    z-index: 1;
    padding: 12px 52px;
    border-radius: 4px;
    margin-bottom: 226px;
    background-color: $btnColor;
    @include font(16, 1.4, 0.16);
    @include mq(tablet-only) {
      padding: 16px 52px;
      margin-bottom: 135px;
    }
    @include mq(desktop) {
      margin-bottom: 3px;
    }
  }
}

.social-list {
  @include flex(flex, space-between, center);
  gap: 15px;
  @include mq(tablet) {
    flex-direction: column;
    align-self: end;
  }
}

.mobile-menu {
  position: absolute;
  top: -100vh;
  z-index: 2;
  width: 100%;
  height: 100vh;
  padding-top: 16px;
  background: url(/src/images/unsplash_X4c7EiLf8GE.jpg) $backgroundColor;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center bottom, center top;
  transition: transform 1000ms $mainTransitionTimingFunction;

  &__wrapper {
    @include flex(flex, space-between, center);
    margin-bottom: 198px;
  }
  &__navigation > .navigation__list {
    margin-top: 0;
    text-align: center;
    padding: 7.25px;
    font-family: $secondaryFontFamily;
    font-weight: secondFontWeight;
    @include font(18, 1.4, 0.18);
  }
}

.is-open {
  transform: translateY(100vh);
}
.no-scroll {
  overflow: hidden;
}

.to-top {
  padding-top: 7px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid $primaryColor;
  fill: $primaryColor;
  opacity: 0.35;
  position: fixed;
  z-index: 2;
  bottom: 10px;
  right: 10px;
  &:focus,
  &:hover {
    opacity: 0.8;
  }
}
