.reviews {
  padding-bottom: 32px;

  &__bg {
    @include mq(mobile-only) {
      background: url(/src/images/reviews_bg_1x.jpg) center no-repeat;
      background-size: cover;
      @include mq(retina) {
        background: url(/src/images/reviews_bg_2x.jpg) no-repeat center;
        background-size: cover;
      }
      padding-top: 32px;
    }
    @include mq(tablet) {
      background: url(/src/images/reviews_bg_tab_1x.jpg) center no-repeat;
      background-size: cover;
      @include mq(retina) {
        background: url(/src/images/reviews_bg_tab_2x.jpg) no-repeat center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: url(/src/images/reviews_bg_des_1x.jpg) no-repeat center;
      background-size: cover;
      @include mq(retina) {
        background: url(/src/images/reviews_bg_des_2x.jpg) no-repeat center;
        background-size: cover;
      }
    }
  }

  &__wrapper {
    width: 100%;
    min-height: 343px;
    border: 1px solid $primaryColor;
    padding: 32px;
    display: grid;
    grid-template-columns: 80px 24px 1fr;
    grid-template-rows: 35px 10px 35px 32px 1fr;
  }

  &__avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  &__name {
    @include font(18, 1.4, 0.18);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: end;
  }

  &__rating {
    display: grid;
    grid-template-columns: repeat(5, 24px);
    gap: 4px;
    grid-column: 3/4;
    grid-row: 3 / 4;
  }

  &__text {
    grid-column: 1/4;
    grid-row: 5/6;
  }
}
