.reviews {
  background: linear-gradient(359deg, #141a19 7.33%, rgba(0, 0, 0, 0) 77.68%),
    linear-gradient(180deg, #141a19 -2.08%, rgba(0, 0, 0, 0) 84.14%),
    url(/src/images/unsplash_X4c7EiLf8GE.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center bottom;
  &__wrapper {
    width: 100%;
    min-height: 343px;
    border: 1px solid $primaryColor;
    padding: 32px;
    display: grid;
    grid-template-columns: 80px 24px 1fr;
    grid-template-rows: 35px 10px 35px 32px 1fr 38px;
  }

  &__avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  &__name {
    @include font(18, 1.4, 0.18);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: end;
  }

  &__rating {
    display: grid;
    grid-template-columns: repeat(5, 24px);
    gap: 4px;
    grid-column: 3/4;
    grid-row: 3 / 4;
  }

  &__text {
    grid-column: 1/4;
    grid-row: 5/6;
  }
}
