.reviews {
  padding-bottom: 32px;

  &__bg {
    background: url(/src/images/unsplash_X4c7EiLf8GE.jpg) center no-repeat;
    background-size: auto;
    padding-top: 32px;
  }

  &__wrapper {
    width: 100%;
    min-height: 343px;
    border: 1px solid $primaryColor;
    padding: 32px;
    display: grid;
    grid-template-columns: 80px 24px 1fr;
    grid-template-rows: 35px 10px 35px 32px 1fr;
  }

  &__avatar {
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  &__name {
    @include font(18, 1.4, 0.18);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: end;
  }

  &__rating {
    display: grid;
    grid-template-columns: repeat(5, 24px);
    gap: 4px;
    grid-column: 3/4;
    grid-row: 3 / 4;
  }

  &__text {
    grid-column: 1/4;
    grid-row: 5/6;
  }
}
