.gallery__container {
  @include mq(desktop) {
    padding-right: 0;
  }
}

.swiper__navigation {
  margin-top: 32px;
  @include flex(flex, space-between, center);
}

.gallery__swiper .swiper__navigation {
  @include mq(tablet) {
    margin-top: 64px;
  }
  @include mq(desktop) {
    padding-right: 32px;
  }
}

.tours__swiper .swiper__navigation {
  @include mq(mobile-only) {
    padding-inline: 16px;
  }
  @include mq(tablet) {
    margin-top: 60px;
    @include flex(flex, space-evenly, center);
  }
  @include mq(desktop) {
    position: absolute;
    z-index: 1;
    top: 582px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    gap: 1088px;
  }
}

.reviews__swiper .swiper__navigation {
  @include mq(tablet) {
    margin-top: 97px;
    padding-right: 32px;
  }
  @include mq(desktop) {
    margin-top: 64px;
    @include flex(flex, space-evenly, center);
  }
}

.swiper-slide__image {
  border-radius: 4px;
  margin: 0 auto;
}

.swiper-button-prev > svg,
.swiper-button-next > svg {
  width: 114px;
  @include mq(tablet) {
    width: 144px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background-color: transparent;
}

.swiper-button-prev {
  rotate: 180deg;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-wrapper > .reviews__swiper-slide {
  @include mq(tablet) {
    flex-shrink: 1;
  }
}

.swiper-wrapper > .gallery__swiper-slide {
  @include mq(tablet-only) {
    width: 377px;
  }
  @include mq(desktop) {
    margin: 0 auto;
    width: 400px;
  }
}
