.tours__image {
  margin-left: auto;
  margin-right: auto;
}

.tours_paragraph {
  margin-bottom: 16px;
}

.tours__subtitle {
  @include font(24, 1.4, 0.24);
  font-weight: $fontWeight;
  margin: 16px 0px;
}

.tours__title-list {
  margin-bottom: 17px;
  @include font(18, 1.4, 0.18);
  font-weight: $fontWeight;
}
.tours__list {
  margin-bottom: 33px;
}
.tours__item {
  @include flex(flex, start, center);
  gap: 16px;
  font-family: $secondaryFontFamily;
  @include font(16, 1.4, 0.16);

  &:not(:last-of-type) {
    margin-bottom: 9px;
  }
}
