/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	-moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
	tab-size: 4; /* 3 */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

.visually-hidden{position:absolute;white-space:nowrap;width:1px;height:1px;overflow:hidden;border:0;padding:0;clip:rect(0 0 0 0);clip-path:inset(50%);margin:-1px}a,h1,h2,h3,h4,p{margin:0px}ul{list-style:none;padding:0;margin:0}a{text-decoration:none;color:inherit}img{display:block;max-width:100%;height:auto}svg{display:block}body{color:#fff;background-color:#141a19;font-family:"Jomolhari",sans-serif;font-weight:400}section:not(:first-of-type){padding-top:80px}.social-list{display:flex;justify-content:space-between;align-items:center;gap:15px}p{font-family:"Lato",sans-serif;font-size:16px;line-height:1.4;letter-spacing:0.16px}.copyright{font-family:"Jomolhari",sans-serif;font-size:12px;line-height:1.4;letter-spacing:0.12px}.pagination{display:flex;justify-content:space-between;align-items:center}.container{width:100%;padding-left:20px;padding-right:20px}@media screen and (min-width: 375px){.container{width:375px;padding-left:16px;padding-right:16px}}@media screen and (min-width: 835px){.container{width:835px;padding-left:32px;padding-right:32px}}@media(min-width: 1440px){.container{width:1440px}}button{padding:0;background-color:#394014;color:#fff;border:none;outline:none;display:flex;justify-content:center;align-items:center;font-size:16px;line-height:1.5;letter-spacing:0.206px;transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)}.header__button,.pagination__button{background-color:rgba(0,0,0,0)}.pagination__button{margin-top:32px}.hero__button{padding:12px 52px;border-radius:4px;margin-bottom:226px}.tours__button{width:100%;padding:14px 0px;border-radius:4px}.title{text-align:center;font-size:40px;line-height:1.4;letter-spacing:0.4px;font-weight:400;margin-bottom:32px}.about__title{font-size:40px;line-height:1.15;letter-spacing:0.4px}.tours__subtitle{font-size:24px;line-height:1.4;letter-spacing:0.24px;font-weight:400;margin:16px 0px}.header{position:absolute;width:100%}.header__navigation{padding-top:16px;display:flex;justify-content:space-between;align-items:center}.hero{background:linear-gradient(180deg, #141a19 -14.61%, rgba(0, 0, 0, 0) 24.08%),radial-gradient(54.53% 54.53% at 56.24% 51.15%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%),url(../907b5e899e013ae897ab.jpg);background-repeat:no-repeat;background-size:cover}.hero__container{display:flex;align-items:center;flex-direction:column;padding-top:261px;padding-bottom:32px}.hero__title{display:flex;align-items:center;flex-direction:column;font-size:64px;line-height:1.4;letter-spacing:0.64px;margin-bottom:64px}.hero__title>span{font-size:24px;line-height:1.4;letter-spacing:0.24px}.hero__title::after{content:"Ukraine";background:linear-gradient(15deg, #fff -54.67%, rgba(255, 255, 255, 0) 58.38%);background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:rgba(0,0,0,0);transform:rotateX(180deg) translateY(-136px);position:absolute}.about{background:url(../10cfa8737fec2a69011a.png);background-repeat:no-repeat;background-size:auto;background-position:center}.about__wrapper{display:flex;flex-direction:column;gap:32px}.tours_paragraph{margin-bottom:16px}.tours__title-list{margin-bottom:17px;font-size:18px;line-height:1.4;letter-spacing:0.18px;font-weight:400}.tours__list{margin-bottom:33px}.tours__item{display:flex;justify-content:start;align-items:center;gap:16px;font-family:"Lato",sans-serif;font-size:16px;line-height:1.4;letter-spacing:0.16px}.tours__item:not(:last-of-type){margin-bottom:9px}.reviews{background:linear-gradient(359deg, #141a19 7.33%, rgba(0, 0, 0, 0) 77.68%),linear-gradient(180deg, #141a19 -2.08%, rgba(0, 0, 0, 0) 84.14%),url(../14d38545f608a5869725.jpg);background-repeat:no-repeat;background-size:auto;background-position:center bottom}.reviews__wrapper{width:100%;min-height:343px;border:1px solid #fff;padding:32px}.reviews__info{display:flex;align-items:center;gap:24px;align-self:stretch;margin-bottom:32px}.name{font-size:18px;line-height:1.4;letter-spacing:0.18px}
